---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Ats from "@components/ats.astro";

import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Testimonal from "@components/Testimonal.vue";
import MySlider from "@components/slider.astro"
import Layout from "@layouts/Layout.astro";
import ProductList from "@components/productlist.astro";
import ContactUs from "@components/contactus.astro";
import Whyus from "@components/whyus.astro";
import Clients from "@components/clients.astro";
import Blogs from "@components/blogs.astro";


---

<Layout title="">
  <Container>

    <Hero />


    <Ats />
    <Whyus />
    <ProductList></ProductList>
    <!-- <Clients /> -->
    <!-- <Features /> -->

    <!-- <Testimonal lient:only="vue"></Testimonal> -->
    <MySlider  />
    <div class="about-us">
     
    </div>

    <!-- <ContactUs></ContactUs> -->
     <Blogs/>
     <Cta />
  </Container>
</Layout>

<style>
    .about-us{
    height: 200px;
  }
  @media screen and (max-width: 800px) {
    #whyus{
      display:block;
    }
    
  .about-us{
    height: 200px;
  }
  }
</style>
