---
import Link from "./ui/link.astro";
---

<div
  class="bg-light p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-2xl md:text-4xl tracking-tight text-decoration  mb-10 ">
   ABOUT US.
  </h2>
  <p class="text-lg leading-relaxed text-slate-500 mt-5">
    At EvolvX, we are proud to leverage over three decades of combined expertise in the specialized fields of label printing and fasteners, establishing ourselves as a trusted partner within Pune, India's local market. Our journey has been defined by a commitment to quality, precision, and a deep understanding of both industry standards and compliance requirements. This foundation allows us to deliver premium, locally certified products that meet stringent regulatory expectations and exceed customer standards.
  
  </p>
  <p class="text-lg leading-relaxed text-slate-500 mt-5">
    Our success in Pune has inspired us to expand our reach to Australia, where we are dedicated to providing clients with innovative, tailored solutions that address their unique needs. We recognize that each client has specific requirements, whether it’s for specialized labels, reliable fasteners, or a combination of both. Our extensive experience enables us to adapt to these varied needs, offering products that are not only high-quality but also customized to fit specific applications, ensuring durability and effectiveness in diverse environments.
  
  </p>
    

  <p class="text-lg leading-relaxed text-slate-500 mt-5">

  As we continue to grow, we remain committed to upholding the standards that define us, bringing our expertise,dedication, and customer-first approach to every project we undertake. At EvolvX, it’s not just about products—it’sabout building lasting partnerships and delivering solutions that drive success.
</p>
  <div class="flex mt-5">
    <div class="flex md:items-center md:justify-start justify-center">
      <Link href="/about" style="inverted">
        <button class="w-36 h-12 rounded-full btn-bg-color bgn-text-color  transition-all duration-700 shadow  text-center text-base font-semibold leading-6">Know More</button>

      </Link>
  </div>
  </div>
</div>

<style>
  .btn-bg-color{
    background-color: #00B6F0 !important;
  }
  .btn-text-color{
    color:#5B5B5B !important;
  }
</style>