<section class="py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="md:flex gap-x-24 clear-left md:mb-16 mb-10">
          <div class=" md:mb-0 mb-4">
              <h2 class="text-black font-manrope text-4xl font-semibold leading-10 mb-5 md:text-left text-center">Get In Touch</h2>
              <p class="text-gray-600 text-lg font-normal leading-7 mb-7 md:text-left text-center">Whether you have a concern or simply want to say hello, We are here to facilitate communication with you.</p>
              <div class="flex md:items-center md:justify-start justify-center">
                  <button class="w-36 h-12 rounded-full bg-indigo-600 transition-all duration-700 hover:bg-indigo-800 shadow text-white text-center text-base font-semibold leading-6">Contact Us</button>
              </div>
          </div>
          <div class="border-l-2 md:border-indigo-600 border-white px-10 py-6">
              <div class="mb-8">
                  <h6 class="text-gray-500 text-sm font-medium leading-5 pb-3 md:text-start text-center">Email Address</h6>
                  <h3 class="text-black text-xl font-semibold leading-8 md:text-start text-center">pagedone@gmail.com</h3>
              </div>
              <div>
                  <h6 class="text-gray-500 text-sm font-medium leading-5 pb-3 md:text-start text-center">Phone Number</h6>
                  <h3 class="text-black text-xl font-semibold leading-8 md:text-start text-center">470-601-1911</h3>
              </div>
          </div>
      </div>
      </div>
</section>