---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.jpeg";
import Link from "@components/ui/link.astro";
import Slider from "@components/sliders.astro";
import { Icon } from "astro-icon/components";

---

<main
  class="grid  place-items-center pt-16 pb-8 md:pt-12 md:pb-24 m-5">

  <div >


    <Slider />
    
  </div>
</main>
