---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.jpeg";
import Link from "@components/ui/link.astro";
import Slider from "@components/sliders.astro";
import { Icon } from "astro-icon/components";

---

<main
  class="">

  <div >


    <Slider />
    
  </div>
</main>
