---
// @ts-ignore
import { Picture } from "astro:assets";


const features = [
  {
    title: "Durable Barcode Labels",
    features:
      "Scratch-resistant surface, high-resolution print, and long-lasting adhesive",
    application: "Engineered to maintain readability under heavy wear and tear, making them ideal for asset tracking and inventory management",
    path:'/public/products/barcode.jpeg'
  },
  {
    title: "Weatherproof Labels",
    features:
      "Waterproof, UV-resistant, and temperature-stable, suitable for harsh weather conditions.",
    application: "Designed to endure extreme outdoor conditions, perfect for assets exposed to rain, sun, and temperature fluctuations.",
    path:'/public/products/box.png'
  },
  {
    title: "Removable and Repositionable Labels",
    features:
      "Residue-free adhesive, repositionable multiple times without compromising adhesion.",
    application: "Ideal for temporary asset tracking or labels that may need relocation without leaving residue.",
    path:'/public/products/boxes.jpeg'
  },
  {
    title: "Expansion Anchors ",
    features:
      "High-contrast colors for visibility, resistant to heat, UV, and chemicals, available in various sizes.",
    application: "Ideal for concrete and masonry, these anchors expand upon installation for a secure hold.",
    path:'/public/products/boxpack.jpeg'
  },
  {
    title: "Sleeve Anchors ",
    features:
      "High-contrast colors for visibility, resistant to heat, UV, and chemicals, available in various sizes.",
    application: "Designed for versatility, sleeve anchors can be used in various materials, providing excellent holding power",
    path:'/public/products/boxpack.jpeg'
  },
  {
    title: "Hex Bolts ",
    features:
      "High-contrast colors for visibility, resistant to heat, UV, and chemicals, available in various sizes.",
    application: "Hex Bolts are Versatile and commonly used in construction and industrial applications.",
    path:'/public/products/boxpack.jpeg'
  },

];
---




<div class="font-sans p-4 mx-auto lg:max-w-5xl md:max-w-3xl sm:max-w-full">
    <h2 class="text-2xl md:text-4xl tracking-tight text-decoration text-decoration mb-10 font-bold">TRADING PRODUCTS</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {
            features.map((item) => (
         
            
          

      <div class="bg-white rounded overflow-hidden shadow-md cursor-pointer hover:scale-[1.02] transition-all border-4	">
        <div class="w-full aspect-w-16 aspect-h-8 lg:h-80">
            <Picture  src={item.path}          alt="not image"
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                     loading="lazy"
                 
                     class="h-full w-full object-cover object-top" />
      
         
        </div>

        <div class="p-4">
            
          <h3 class="text-lg font-bold text-gray-800">{item.title}</h3>
          <div class="mt-4 flex items-center flex-wrap gap-2">
            {/* <p class="text-lg font-bold text-gray-800">{item.features}</p> */}

            <p class="text-slate-500 mt-2 leading-relaxed">{item.application}</p>
            <div class="w-full inline-flex items-center justify-center">
              <button type="button" class=" text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-md px-5 py-2.5 text-center me-2 mb-2">View Products</button>

            </div>

          </div>
        </div>
      </div>
      ))
      }
      


    </div>
  </div>