<section class="">

  

    <div class="feedback">
      <div class=" card-back" >
        <h1 class="text-2xl md:text-4xl tracking-tight text-decoration mb-10 ">REAL CLIENTS...REAL COMMENTS...</h1>

      </div>
    <div class="card-body">
      <div class="card">
        <div class="p-2">
          <img src="/src/assets/img/Icon.jpg" alt="" width="300" height="300"  class="card-img-top h-auto max-w-full rounded-lg">

        </div>
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
          <i class="bi bi-quote"></i>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">EvolvX is a trusted supplier of high-qualitylabels and signs designed for durability andreliability. Our products withstandenvironmental challenges like moisture,chemicals, UV light, and abrasion, backed byrigorous testing. Our safety signs meetAustralian Standards for Signage (AS1319)and ISO 7010, in line with global guidelines forhazard identification and risk management.</p>
        
        </div>
      </div>
    </div>
    </div>



</section>
  
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script is:inline>new Swiper('.swiper')</script> -->


<style>
  .card-img-top {
  position: absolute;
  top: -10%;
  left: 50%;
  margin-left: -30px;
  width: 70px !important;
  height: 70px;
  border-radius: 50%;

}

.card {

  position: relative;
  top:40%;
}
.feedback{
  position: relative;
  background-color: #5B5B5B;
  color:white;
}
.card-body{
  position: relative;
  
}
.card-back ,.card-body{
height: 100px;
text-align: center;
display:grid;
justify-content: center;
place-content: center;

 

}
</style>

